<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.game.milionerki"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ChooseProfil"
            android:label="@string/app_choose_profil" >
        </activity>
            <activity
                android:name=".CreatePlayersAvatar"
                android:label="@string/app_create_profil" >
            </activity>
            <activity
                android:name=".CreatePlayers"
                android:label="@string/app_create_profil" >
            </activity>

        <activity
            android:name=".GameView"
            android:label="@string/app_game" >
        </activity>

        <activity
            android:name=".AboutView"
            android:label="@string/app_name_about" >
        </activity>

        <activity
            android:name=".RankingView"
            android:label="@string/app_name_ranking" >
        </activity>
        
    </application>

</manifest>
